body{
    background-color:#2a2a2e;
    color:white;
    padding:20px 0;
}

hr{
   background-color:#fff;
}



/*IMAGE STYLES*/
.circleImage{
    max-width: 100%;
    min-width: 100%;
    border:inset;
    border-color:#fcca90;
}

.btn-info{
    background-color:#fff;
    color:#24292e;
    height: 30px;
    width:125px;
    padding: 5px 10px;
    margin-left: 195px;
    font-size: 12px;
    line-height: 16px;
    font-weight:600;
    border-color: #c5c9cd;
}

.btn-info:hover{
    background-color:#e6ebf1;
    color:#24292e;
    border-color:#c5c9cd;
}

.fa-globe{
    padding-right:2px;
}

.card{
    background-color:#24292e;
    color: #fff;
    border-radius:0;
    padding:10px;
}
.reposImg{
    display:block;
    width: 150px;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
}
.reposImg2{
    display:block;
    width: 300px;
    height: 215px;
    margin-left:auto;
    margin-right:auto;
}
.reposImg3{
    display:block;
    width:375px;
    height:185px;
    margin-left:auto;
    margin-right:auto;
}
.reposBtn{
    display:block;
    margin-left:220px;
}

