@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap'); 

body{
    background-color:#838386;
    color:white;
}

hr{
   background-color:#fff;
}

.card{
background-color:#fff !important;
padding: 0 !important;
}
.navbar{
    background-color: #fff !important;
}

.navbar-nav{
    margin-right:auto;
    margin-left:auto;
}

.introduction{
    padding:50px;
    text-align: center;
    background-image: url("images/Background-1.jpg"); 
}

.circleImage{
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-top:85px;
    margin-bottom:-35px;
    height:150px;
    width:150px;
    border-radius: 50%;
    border-color:#000
    ;
    border-style: solid;
    border-width:7px;
}

.aboutMe{
    margin-top:75px;
    margin-bottom:75px;
    font-family:tangerine;
    text-align:center;
}
.aboutmeimage{
    max-width: 50%;
    min-width: 50%;
    border:inset;
    border-color:#fcca90;
}

.whoIam{
    margin-top:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.elementContainer{
    background-image: url("images/Background-1.jpg"); 
}

.elementBoxes{
    max-width:60%;
}

.tools{
    text-align:center;
    font-family: tangerine;
}
.elementCards{
    height:75px;
    margin:4%;
    border-style:inset;
    border-color:#838386;
}
.cardTitle{
    color:#000;
    text-align:center;
    font-size:35px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.workdOn{
    margin-top:75px;
    margin-bottom:75px;
    font-family:tangerine;
}
.featuredWork{
    color:#fff
}
.work{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width:317px;
    background-color:#838386 !important; 
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.work > p{
    font-size:20px;
}

.webSite{
    font-size:10px;
}

.findMe{
    background-image: url("images/Background-1.jpg"); 
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.links{
    display:block;
    margin-right: auto;
    margin-left: auto;
}
.findMeText{
    display:block;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    font-family:tangerine;
    font-size:35px;
    color:#fff;
}
.mediaCard{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}